{% extends 'base.html' %}
{% load static %}
{% block conteudo %}

    <main>
      <div class="container fst-italic">
        <!-- <h2 class="mt-3 mb-6" style="text-align: center;color: rgb(20, 90, 50);">Deletar registro de emprestimo</h2> -->
           
        <div class="card">
            <form method="post" action="." onsubmit="return confirm('Tem certeza que deseja deletar registro?');">
              <p>{{ emprestimo.cliente }}</p>
              <p>{{ emprestimo.livro }}<p>
              <p>{{ emprestimo.data_retirada }}</p>
              <p>{{ emprestimo.data_entrega_prevista }}</p>
              <p>{{ emprestimo.observacao }}</p>
                {% csrf_token %}
                <button class="btn btn-danger" type="submit">Deletar</button>
            </form>
        </div>
    </div>
    </main>
  {% endblock %}