{% extends 'base.html'%}

{% load bootstrap5 %}

{% block conteudo %}
          </div>
        </div>
        <div class="row m-2">
          <div class="col-md-6">
            {% if sucesso %}
            <p class="alert alert-success">Mensagem enviada com sucesso!</p>
            {% else %}
            <form action="" method="post" novalidate class="fst-italic">
              {% csrf_token %}
              {% bootstrap_form form %}
              <hr>
              <button class="save btn btn-primary" type="submit" style="font-family:'Times New Roman', Times, serif;">Enviar Mensagem</button>
            </form>
            {% endif %}
           </div>
        </div>
      </main> 
{% endblock%}